<!--<h1>{{title}}</h1>
<nav>
    <a routerLink="/dashboard">Dashboard</a>
    <a routerLink="/heroes">Heroes</a>
-->
<ul>
    <li *ngFor="let user of users">{{user.name}}</li>
</ul>
<div class="input">
    <label> User Name: </label>
    <input type="text" name="user_name" />
</div>
<button type="submit">Add User</button>
<!--</nav>
<router-outlet></router-outlet>
<app-messages></app-messages>-->